body {
  background-color: #edfbfd;
}

#globalContainer {
  max-width: 1180px;
  width: 85%;
  min-width: 800px;
  margin: auto;
}

.mainContainer {
  border: 1px solid #bae2e8;
}

.alert {
  background-color: #39f654;
  color: #073453;
  top: 10px;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  box-sizing: border-box;
  animation: fadeOut 3s forwards linear;
}

@keyframes fadeOut {
  0% 	{ opacity: 1; }
  10% { opacity: 1; }
  100% { opacity: 0; }
}

.tab {
  width: 33.33%;
  display: block;
  float:left;
  text-align: center;
  padding: 20px;
  font-weight: 700;
  font-size: 24px;
  color: white;
  background-color: #073453;
  border-right: 1px #edfbfd solid;
  text-decoration: none;
  box-sizing: border-box;
}

.tab:last-of-type {
  border-right: 0;
}

.tab.active {
  background-color: white;
  color: #073453;
}

.tab:not(.active):hover {
  opacity: 0.8;
}

.footer-container {
  font-size: 13px;
  padding: 15px 20px;
  color: #4f4f4f;
}

.footer-copyright-brand {
  font-weight: 700;
}

